version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - ALLOWED_HOSTS=*
    depends_on:
      - db

  frontend:
    build: ./frontend
    # We use a trick here to keep the container running even if Next.js isn't installed yet
    command: sh -c "if [ ! -f package.json ]; then echo 'No package.json found, waiting...'; tail -f /dev/null; else npm run dev; fi"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost
      # - NEXT_PUBLIC_API_URL=http://localhost:8000 #for local test only
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro

volumes:
  postgres_data: